* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  height: 100%;
}

h1, h2, h3, h4, h5, h6, p {
  margin-bottom: 16px;
}

nav {
  height: 50px;
  background-color: lightblue;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
nav a {
  color: white;
  text-decoration: none;
}

.banner {
  margin-top: 15px;
  width: 100%;
  height: 300px;
  background-image: url(../images/purple.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.text {
  margin-top: 15px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.text .text1 {
  width: 300px;
}

.photos {
  margin-top: 15px;
  width: 100%;
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.photos .photo1 {
  width: 300px;
  height: 400px;
  background-image: url(../images/tree.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.photos .photo2 {
  width: 300px;
  height: 400px;
  background-image: url(../images/water.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.texts {
  margin: 0 auto;
  width: 1200px;
  height: 500px;
}
.logo {
  margin-top: 15px;
  width: 100%;
  height: 300px;
  background-image: url(../images/flower.jpeg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.flower {
  margin-top: 15px;
  width: 100%;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.flower .pic1 {
  width: 300px;
  height: 300px;
  background-image: url(../images/orange.jpeg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.flower .pic2 {
  width: 300px;
  height: 300px;
  background-image: url(../images/pink.jpeg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.sentence {
  width: 100%;
  height: 320px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.sentence .text6 {
  width: 300px;
  height: 300px;
}
.sentence .text7 {
  width: 300px;
  height: 300px;
}

.animal {
  margin-top: 15px;
  width: 100%;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.animal .bird {
  width: 300px;
  height: 300px;
  background-image: url(../images/bird.jpeg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.animal .fox {
  width: 300px;
  height: 300px;
  background-image: url(../images/fox.jpeg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.para {
  margin-top: 15px;
  width: 100%;
  margin: 0 auto;
}

footer {
  width: 100%;
  height: 100px;
  color: white;
  background-color: lightblue;
  margin-top: 20vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-size: 20px;
}